<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flasktoy_password</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap-3.3.7/css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap-3.3.7/css/bootstrap-theme.min.css') }}">
    <style>
        * {
          margin: 0;
      	}
      	html, body {
      	  height: 100%;
      	}
      	.wrapper {
      	    min-height: 100%;
      	    height: auto !important;
      	    height: 100%;
      	    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
      	}
      	.footer, .push {
      	    height: 142px; /* .push must be the same height as .footer */
      	}
    </style>
  </head>

  <body>
    <h1>스트롱 패스워드!</h1>
      <p>내 패스워드, 얼마나 안전한지 체크해봅시다.</p>
      <p>(입력 값은 저장되지 않습니다)</p>
    <form action="{{ url_for('password.index') }}" method="POST">
      <input name="text">
      <button type="submit">검사하기</button>
    </form>

    {% if answer %}
      <h3>{{ text }}</h3>
    {{ answer }}
    {% endif %}

    <script src="{{ url_for('static', filename='jquery-3.1.0/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lodash-4.13.1/lodash.min.js') }}"></script>
  </body>
</html>
