<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flasktoy_password</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap-3.3.7/css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap-3.3.7/css/bootstrap-theme.min.css') }}">
    <style>
        * {
          margin: 0;
      	}
      	html, body {
      	  height: 100%;
      	}
      	.wrapper {
      	    min-height: 100%;
      	    height: auto !important;
      	    height: 100%;
      	    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
      	}
      	.footer, .push {
      	    height: 142px; /* .push must be the same height as .footer */
      	}
    </style>
  </head>

  <body style="margin-bottom:10px">

    <nav id="nav" class="navbar navbar-dark bg-primary">
		  <div class="container">
	  		<div class="navbar-header">
	    		<a class="navbar-brand" style="color:#ffffff" href="{{ url_for('password.index') }}">STRONG PASSWORD</a>
        </div>
      </div>
    </nav>

    <div id="content" class="wrapper">
      <div class="container" align="center">
        <h1>스트롱 패스워드!</h1><br>
        <h4>내 패스워드, 얼마나 안전한지 체크해봅시다.</h4>
        <h4>(입력 값은 저장되지 않습니다)</h4><br>
        <div class="col-lg-offset-4 col-lg-4">
          <form action="{{ url_for('password.index') }}" method="POST">
            <div class="form-group">
    					<div class="input-group">
    						<input type="text" class="form-control" name="text" placeholder="abcd123">
    						<span class="input-group-btn">
    							<button type="submit" class="btn btn-primary">검사하기</button>
    						</span>
    					</div>
    				</div>
          </form>
        </div>
      </div>

      <div class="container push" align="center">
        {% if answer %}
          <h3>{{ text }}</h3>
          <p>{{ answer }} </p>
        {% endif %}
      </div>
    </div>

    <div id="footer" style="margin-top:60px" class="footer">
  		<div class="container">
  			<div class="row">
  				<div class="col-lg-12">
  				©2016 <span id="my-name">Eunjung Choi</span>
  				</div>
  			</div>
  		</div>
  	</div>

    <script src="{{ url_for('static', filename='jquery-3.1.0/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lodash-4.13.1/lodash.min.js') }}"></script>
  </body>
</html>
